<div style="text-align: center">
	<h1>Welcome to {{completeJson.tournamentName}}</h1>
	<table>
	
		<tr *ngFor="let m of completeJson.matches">
			<td>
				<div>
					<h2>Table No. {{m.tableno}}</h2>
					<h3>Event name: {{m.event}}</h3>
					<table>
						<thead>
							<tr>
								<td>Player Name</td>
								<td>Game 1</td>
								<td>Game 2</td>
								<td>Game 3</td>
								<td>Game 4</td>
								<td>Game 5</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{m.p1}}</td>
								<td>{{m.score.g1.p1}}</td>
								<td>{{m.score.g2.p1}}</td>
								<td>{{m.score.g3.p1}}</td>
								<td>{{m.score.g4.p1}}</td>
								<td>{{m.score.g5.p1}}</td>
							</tr>
							<tr>
								<td>{{m.p2}}</td>
								<td>{{m.score.g1.p2}}</td>
								<td>{{m.score.g2.p2}}</td>
								<td>{{m.score.g3.p2}}</td>
								<td>{{m.score.g4.p2}}</td>
								<td>{{m.score.g5.p2}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
		</tr>		
	</table>
</div>